In [ ]:
#1 questão
a = int(input("qual valor da A:"))
b = int(input("qual valor de B:"))
c = int(input("qual valor de C:"))

soma = a + b

if soma < c:
  print(soma , "menor" , c)
else :
  print (soma , "maior" , c)1

In [ ]:
#2 queatão
valor = int(input("qual seu numero:"))

if valor > 0:
  print("seu numero é positivo", valor)
else :
  print("seu numero é negativo", valor)

if valor %2 == 0:
  print("seu numero é par " , valor)
else :
  print("seu valor é impar " , valor)

In [21]:
#3 questão

a = int(input("valor de A:"))
b = int(input("valor de B:"))

if a == b:
 c = a + b
else :
  c = a * b

print("valor é " , c )

valor de A:2
valor de B:3
valor é  6

In [ ]:
#4
a = int(input("qual valor:"))
b = a - 1
c = a + 1

print("seu valor" , b , a , c)

In [25]:
#5

salariou = float(input("qual o seu usuario:"))
salariom = 1.51800

qsalario = salariou / salariom

print(f"voce recebe {qsalario:.2f} minimo")

qual o seu usuario:2.12200
voce recebe 1.40 minimo

In [ ]:
#6 não sei se estar certa
a = float(input("qual valor:"))

b = a + 1.05

print("aqui a soma" , b)

In [ ]:
#7
a = int(input("seu numero:"))
b = int(input("seu numero:"))

c = bool(a)
d = bool(b)

if c and d:
  print("os dois são verdadeiros")
elif c and not d:
  print("os dois são falsos")
else :
  print("os dois são diferentes")

In [ ]:

#8
a = int(input("seu numero:"))
b = int(input("seu numero:"))
c = int(input("seu numero:"))

numeros = [a,b,c]
numeros.sort(reverse=True)

print(numeros)

In [ ]:
#9

peso = float(input("seu peso:"))
altura = float(input("sua altura:"))

def imc (peso , altura):
  return peso / (altura ** 2)

cal = imc(peso , altura)

if cal < 18.5:
  print("abaixo do peso")
elif 18.6 <= cal < 24.9:
  print("peso ideal,parabens")
elif 25.0 <= cal < 29.9:
  print("levemente acima do peso")
elif 30.0 <= cal < 34.9:
  print("obesidade de grau I")
elif 35.0 <= cal < 39.9:
  print("obesidade de grau II")
elif cal >= 40.0:
  print("obesidade de grau III")

In [ ]:
#10

n1 = int(input("qual a nota:"))
n2 = int(input("qual a nota:"))
n3 = int(input("qual a nota:"))

def soma(n1 , n2 ,n3):
  return (n1 + n2 + n3) / 3

reposta = soma(n1 , n2 , n3)

print(reposta)

In [ ]:
#11

nome = str(input("qual o seu nome:"))
nota1 = int(input("qual a nota:"))
nota2 = int(input("qual a nota:"))
nota3 = int(input("qual a nota:"))
nota4 = int(input("qual a nota:"))

def soma(nota1 , nota2 , nota3 , nota4):
  return (nota1 + nota2 + nota3 + nota4) / 4

media = soma(nota1 , nota2 , nota3 , nota4)

if media >= 7:
  print("voce foi aprovado" , nome , "com a nota de " , media)
else :
  print("voce foi reprovado" , nome , "com a nota de " , media)

In [ ]:
#12

pp = float(input("qual o valor da sua compra:"))

print("para a sua forma de pagamento")
print("pix ou a dinheiro digite 1")
print("cartão de credito digite 2")
print("parcelas de 2 vezes digite 3")
print("parcelas de 3 ou superior digite 4")

forma = int(input("qual a sua forma de pagamento:"))

if forma == 1:
  valor = pp - (pp * 0.15)
elif forma == 2:
  valor = pp - (pp * 0.10)
elif forma == 3:
  valor = pp
elif forma == 4:
  valor = pp + (pp * 0.10)

print(f"o valor da sua compra ficou {valor:.2f}")

In [ ]:
#13

nome = str(input("qual o seu nome:"))
idade = int(input("qual a sua idade:"))

if idade >= 18:
  print(nome , "voce é maior de idade " , idade)
else :
  print(nome , "voce é menor de idade " , idade)

In [ ]:
#14

a = int(input("valor de A:"))
b = int(input("valor de B:"))

a , b = b , a

print(a ,  " e " ,  b)

In [26]:
#15

# Importa a biblioteca para obter o ano atual
from datetime import datetime

# Solicita ao usuário o ano de nascimento
ano_nascimento = int(input("Digite o ano em que você nasceu: "))

# Obtém o ano atual
ano_atual = datetime.now().year

# Calcula o total de anos, meses e dias vividos
anos_vividos = ano_atual - ano_nascimento
meses_vividos = anos_vividos * 12
dias_vividos = anos_vividos * 365

# Exibe o resultado formatado
print(f"Você já viveu aproximadamente {anos_vividos} anos, {meses_vividos} meses e {dias_vividos} dias.")

Digite o ano em que você nasceu: 2006
Você já viveu aproximadamente 19 anos, 228 meses e 6935 dias.

In [ ]:
#16

lado1 = int(input("angulo A:"))
lado2 = int(input("angulo B:"))
lado3 = int(input("angulo C:"))

if lado1 == lado2 == lado3:
  print("triangulo equilatero")
elif lado1 == lado2 or lado2 == lado3 or lado1 == lado3:
  print("triamgulo isósceles")
else :
  print("triangulo escaleno")

In [13]:
#17

f = float(input("qual a temperatura em Fahrenheit:"))

def soma(f):
  return  (5 * ( f -32 ) / 9)

c = int(soma(f))

print(f ,"Fahrenheit equivale " , c , "de graus celsius")

qual a temperatura em Fahrenheit:34
34.0 Fahrenheit equivale  1 de graus celsius

In [ ]:
#18

ano = int(input("tempo:"))
af = 1,50
asa = 1,10

def altura1(af,ano):
  return (ano** 0,2) + af

ff = altura1

def altura2(asa,ano):
  return (ano** 0,3) + asa

ss = altura2

print("a tempo sera de " , ano , "para a altura de sara superar a altura de francisco")
print("altura inicial de sara " , asa , "depois" , ss)
print("alturs inicisl de francisco " , af , "depois " , ff)

In [ ]:
#18

# Definição das alturas iniciais
altura_francisco = 1.50  # metros
altura_sara = 1.10  # metros

# Taxa de crescimento anual
crescimento_francisco = 0.02  # metros por ano
crescimento_sara = 0.03  # metros por ano

# Inicializa contador de anos
anos = 0

# Loop até que Sara seja mais alta que Francisco
while altura_sara <= altura_francisco:
    altura_sara += crescimento_sara
    altura_francisco += crescimento_francisco
    anos += 1

# Exibe o resultado
print(f"Serão necessários {anos} anos para que Sara seja mais alta que Francisco.")

In [ ]:
#19

# Loop de 1 até 10 para gerar a tabuada
for i in range(1, 11):
    print(f"\nTabuada do {i}:")  # Exibe qual tabuada está sendo impressa
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")  # Calcula e exibe o resultado da multiplicação

In [ ]:
#20

a = int(input("qual o numero para a tabuada:"))

a1 = a * 1
a2 = a * 2
a3 = a * 3
a4 = a * 4
a5 = a * 5
a6 = a * 6
a7 = a * 7
a8 = a * 8
a9 = a * 9
a0 = a * 10

print(a, "x 1" ,a1)
print(a, "x 2" ,a2)
print(a, "x 3" ,a3)
print(a, "x 4" ,a4)
print(a, "x 5" ,a5)
print(a, "x 6" ,a6)
print(a, "x 7" ,a7)
print(a, "x 8" ,a8)
print(a, "x 9" ,a9)
print(a, "x 10" ,a0)